---
import { SITE_DESC } from '../consts';
import Main from "../layouts/Main.astro";
---

<Main title="О Анонимных Прокрастинаторах" desc={SITE_DESC}>
 <div class="bg-white mx-[-20px] lg:mx-[20px] p-[30px] rounded-[30px] mt-[30px]">
  <div class="grid gap-[30px] grid-cols-1 md:grid-cols-2">
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">1️⃣ Какая концепция у АП?</h3>
    <p class="text-[16px] font-normal">
     - Для всех желающих, кто хочет меняться к лучшему. Основаная проблема -
     прокрастинация, но мы приветствуем и остальные программы и сообщества. Наш лозунг: Мы
     не ассоциируется с проблемой, мы ищем - решения!
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">2️⃣ Какие шаги использует АП?</h3>
    <p class="text-[16px] font-normal">
     - Все шаги используют одни принципы. Нам не важно, что вы из разных сообществ, нам
     важно знать, есть ли у вас желание меняться к лучшему. Т.к. отцы шагов - АА, а ранее
     взятые из оксфордских групп принципы, мы используем БКАА для прохождения шагов.
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">
     3️⃣ Есть ли у АП структура обслуживания?
    </h3>
    <p class="text-[16px] font-normal">
     - По мере роста содружества и запросам группы, будет формироваться структура из
     повернутого треугольника сверху вниз.
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">
     4️⃣ В рамках каких традиций развиваться АП?
    </h3>
    <p class="text-[16px] font-normal">
     - Мы используем традиции АА и их опыт во всех их делах, которые были проделаны в их
     сообществе, беря полезные советы и предупреждения.
    </p>
   </div>
  </div>
 </div>
</Main>
