---
import Main from "../layouts/Main.astro";

import { devsGet } from "../libs/api";
import { urlForImage } from "../libs/urlForImage.js";
const devsPosts = await devsGet();
---

<Main title="Для разработчиков" desc="Гайды для разработчиков сайтов, и для тех, кто этим занимается">
<div class="mt-[30px] grid grid-cols-1 lg:grid-cols-2 gap-[20px]">
   {
    devsPosts.map((post) => (
     <article>
     <a href={"/for-developers/" + post.slug.current}>
        <img
         class="max-w-[100%] object-contain md:object-cover h-auto md:min-h-[300px] max-h-[500px] rounded-[20px]"
         src={urlForImage(post?.mainImage).url()}
         alt={post?.mainImage.caption}
        />
      <div>
         <h2 class="font-medium text-[22px] leading-[110%] mt-[16px]">{post.title}</h2>
          <time datetime={post.releaseDate} class="block mb-[16px] mt-[4px] text-blue-500">
           {new Date(post.releaseDate).toLocaleDateString("ru-RU", {
            year: "numeric",
            month: "numeric",
            day: "numeric",
           })}
          </time>
      </div>
     </a>
     </article>
    ))
   }
</div>
</Main>
