---
import { SITE_DESC } from '../consts';
import Main from "../layouts/Main.astro";
---

<Main title="Кто такие Анонимные Прокрастинаторы?" desc={SITE_DESC}>
 <div class="bg-white mx-[-20px] lg:mx-[20px] p-[30px] rounded-[30px] mt-[30px]">
  <div class="grid gap-[30px] grid-cols-1 md:grid-cols-2">
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">Анонимные Прокрастинаторы</h3>
    <p class="text-[16px] font-normal">
     Мы содружество людей, которые делятся своим опытом, силами и надеждами друг с другом
     для того, чтобы решать наши общие или личные задачи и помогать решить их другим.
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">Связь</h3>
    <p class="text-[16px] font-normal">
     Мы не связаны ни с какой политической, религиозной или правоохранительной
     организацией, и не находимся ни под чьим контролем.
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">Вступление</h3>
    <p class="text-[16px] font-normal">
     У нас нет ни вступительных, ни членских взносов. Мы сами себя содержим благодаря
     нашим добровольным пожертвованиям.
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">Присоединения</h3>
    <p class="text-[16px] font-normal">
     Присоединиться к нам может каждый, независимо от возраста, национальности, убеждений,
     религии, или отсутствия таковой.
    </p>
   </div>
   <div>
    <h3 class="mb-[8px] text-[20px] font-medium">Условие</h3>
    <p class="text-[16px] font-normal">
     Единственным условием для членства является желание меняться.
    </p>
   </div>
   <div>
    <h4 class="mb-[8px] text-[20px] font-medium">Рады будем вам на собраниях 🤗</h4><a
     href='/groups'
     class="underline text-blue-500">Онлайн собрания</a>
   </div>
  </div>
 </div>
</Main>
