---
import Main from "../layouts/Main.astro";
---

<Main title="Вопросы и ответы к АП" desc="Вопросы и ответы к Анонимным Прокрастинаторам">
 <div class="bg-white mx-[-20px] lg:mx-[20px] p-[30px] rounded-[30px] mt-[30px]">
  <h2 class="mb-[8px] text-[20px] font-medium">
   1. У меня есть 12 шагов. Можно ли вести по шагам, если не прошел шаги в АП?
  </h2>
  <p class="text-[16px] text-[#555] font-normal mb-[16px]">
   ✅ Можно и нужно. АП не изобретает нового, АП принимает все виды программ, все виды
   прохождения.
  </p>
  <h2 class="mb-[8px] text-[20px] font-medium">2. Могу ли я создать группу и вести ее?</h2>
  <p class="text-[16px] text-[#555] font-normal mb-[16px]">
   ✅ Человек, который считает себя членов АП может создавать свою группу с названием и
   своим временем, со своей преамбулой, которое будет обнесено своими правилами, которые
   будут обсуждены членами данной группы в рамках 4-ой тр. Пример: Группа "Изобилие" в
   15:00 по средам. На группе читаем программную литературу (пример: ВДА) и высказываемся
   по прочитанной теме.
  </p>
  <h2 class="mb-[8px] text-[20px] font-medium">
   3. Понятие “ТРЕЗВОСТИ” или “Чистоты” в АП, есть ли эти понятия здесь?
  </h2>
  <p class="text-[16px] text-[#555] font-normal">
   ✅ Понятие “ТРЕЗВОСТИ” или “Чистоты” в АП так такой нет, и вот этому объяснения: Мы
   члены АП полностью не отказываемся от лени/прокрастинации, как это делают алкоголики и
   наркоманы. Наше выздоровление заключается в выработки способности вести жизнь
   эффективно, без губительного фактора, который влияет как на нас, так и на наших родных,
   и близких.
  </p>
 </div>
</Main>
